.theme-green {
  --border-gradient-start: #458a40;
  --border-gradient-end: #5dbb4d;
  --text-color: #33f160;
  --border-color: #5dbb4d;
}

.theme-pink {
  --border-gradient-start: #ff8ac9;
  --border-gradient-end: #ff4a8d;
  --text-color: #ff4a8d;
  --border-color: #ff4a8d;
}

.theme-cyberlime {
  --border-gradient-start: rgba(26, 39, 0, 1); /* dark olive green */
  --border-gradient-end: rgba(192, 255, 71, 1); /* lime */
  --text-color: rgba(192, 255, 71, 1);
  --border-color: rgba(192, 255, 71, 1);
}

.theme-magentanight {
  --border-gradient-start: rgba(53, 0, 40, 1); /* deep magenta-black */
  --border-gradient-end: rgba(255, 107, 184, 1); /* hot pink */
  --text-color: rgba(255, 107, 184, 1);
  --border-color: rgba(255, 107, 184, 1);
}

.theme-oceangrid {
  --border-gradient-start: rgba(0, 32, 51, 1); /* deep teal */
  --border-gradient-end: rgba(102, 229, 255, 1); /* light cyan */
  --text-color: rgba(102, 229, 255, 1);
  --border-color: rgba(102, 229, 255, 1);
}

.theme-crimsonstorm {
  --border-gradient-start: rgba(136, 50, 102, 1); /* deep maroon */
  --border-gradient-end: rgba(238, 68, 101, 1); /* bright red */
  --text-color: #ee4465;
  --border-color: rgba(255, 69, 69, 1);
}

.theme-sunsetblast {
  --border-gradient-start: rgba(75, 36, 0, 1); /* burnt orange */
  --border-gradient-end: rgba(255, 202, 64, 1); /* golden yellow */
  --text-color: rgba(255, 202, 64, 1);
  --border-color: rgba(255, 202, 64, 1);
}

.theme-mintchip {
  --border-gradient-start: rgba(0, 48, 36, 1); /* dark forest green */
  --border-gradient-end: rgba(158, 255, 192, 1); /* mint */
  --text-color: rgba(158, 255, 192, 1);
  --border-color: rgba(158, 255, 192, 1);
}

.theme-deathbyai {
  --border-gradient-start: rgba(64, 34, 254, 1);
  --border-gradient-end: rgba(171, 72, 255, 1);
  --text-color: white;
  --border-color: rgba(171, 72, 255, 1);
}

.theme-survivalofthebestfit {
  --border-gradient-start: rgba(254, 204, 198, 1); /* deep magenta-black */
  --border-gradient-end: rgba(237, 130, 129, 1); /* hot pink */
  --text-color: rgba(254, 204, 198, 1);
  --border-color: rgba(237, 130, 129, 1);
}

.theme-quickdraw {
  --border-gradient-start: rgba(255, 209, 56, 1); /* deep magenta-black */
  --border-gradient-end: rgba(226, 181, 54, 1); /* hot pink */
  --text-color: #ffeba7;
  --border-color: rgba(255, 209, 56, 1);
}

.theme-infinitewonderland {
  --border-gradient-start: white; /* deep magenta-black */
  --border-gradient-end: #f2f2f2; /* hot pink */
  --text-color: white;
  --border-color: #f2f2f2;
}

.theme-mostlikelymachine {
  --border-gradient-start: rgba(168, 98, 189, 1);
  --border-gradient-end: rgba(248, 94, 70, 1);
  --text-color: white;
  --border-color: rgba(255, 255, 255, 1);
}

.theme-foolsgold {
  --border-gradient-start: rgba(140, 165, 170, 1);
  --border-gradient-end: rgba(212, 249, 255, 1);
  --text-color: rgba(212, 249, 255, 1);
  --border-color: rgba(212, 249, 255, 1);
}

.theme-gptpromptattack {
  --border-gradient-start: rgba(76, 142, 67, 1);
  --border-gradient-end: rgba(137, 204, 124, 1);
  --text-color: white;
  --border-color: rgba(255, 255, 255, 1);
}

.theme-dataville {
  --border-gradient-start: rgba(143, 125, 88, 1);
  --border-gradient-end: rgba(188, 162, 86, 1);
  --text-color: white;
  --border-color: rgba(255, 255, 255, 1);
}

.theme-ai-or-human {
  --border-gradient-start: rgba(231, 24, 124, 1);
  --border-gradient-end: rgba(246, 173, 206, 1);
  --text-color: white;
  --border-color: rgba(255, 255, 255, 1);
}

.theme-viola-the-bird {
  --border-gradient-start: rgba(124, 64, 109, 1);
  --border-gradient-end: rgba(202, 140, 165, 1);
  --text-color: white;
  --border-color: rgba(255, 255, 255, 1);
}

.theme-emoji-scavenger-hunt {
  --border-gradient-start: rgba(241, 60, 60, 1);
  --border-gradient-end: rgba(244, 103, 107, 1);
  --text-color: white;
  --border-color: rgba(255, 255, 255, 1);
}

.theme-scroobly {
  --border-gradient-start: rgba(255, 72, 16, 1);
  --border-gradient-end: rgba(255, 151, 130, 1);
  --text-color: white;
  --border-color: rgba(255, 255, 255, 1);
}
